  .header {
    border-bottom: 1px solid #ececec;

    &__logo {
      color: black;
    } 
    .container {
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
      }
  }