.portfolio {
    background-color: $--main-background-color;
    margin-bottom: 94px;

    &__menu {
        display: flex;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
      }
  }